<div class="text-center">
    <h1 class="display-4">Welcome to User Page</h1>
    @model User
    @{
        ViewData["Title"] = "Users Page";
    }
    <h2> Id : @Model.Id</h2>
    <h3> First Name : @Model.FirstName</h3>
    <h3> Last Name : @Model.LastName</h3>
    <h3> Password : @Model.Password</h3>
    <h3> Email : @Model.Email</h3>
    <form action="/Home/CreateUser" method="post">
        <input asp-for="FirstName" />
        <input asp-for="LastName" />
        <input asp-for="Password" />
        <input asp-for="Email" />
        <input type="submit" value="Yeah" />
    </form>
  </div>
